* { margin: 0; padding: 0;}
h1{ font: bold 40px Times, sans-serif;color: #ffffff;};/*Titulos van hasta el h6 */
h2{ font: bold 14px Times, sans-serif;color: #7e7e7e;};
h3{font: bold 10px Times, sans-serif;color: #ffffff;};
header, section, footer, aside, nav, article, figure, figcaption, /*Estructura de la pagina */
hgroup { display: block; text-align: center; }
button{/* Boton para el correo*/
    text-align: center;
    color: #7e7e7e;
    font-family: 'Times New Roman', Times, serif;
}

figure{
    text-align: center;
}
p{/* Parrafos, contenido de texto*/
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
}
address{/*Para links*/
    text-align: left;
    color: #ffffff;
}
table{/*Tablas de contenido*/
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 50%;
    color: #24403B;
}
table,td,th{/*Configuracion de las tablas*/
    border:1px solid #ffffff;
    text-align: center;
    padding: 15px;
}
tr:nth-child(even){/*Diseño para la tabla*/
    background-color: #E1DDBF;
}
div { width: 1px; margin: 1px; padding: 1px; border: 2px solid #E1DDBF;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{text-align: left;}/*Cuerpo de la pagina, donde contiene todo*/
  .agrupar{width: 1000px;margin: 10px auto;text-align: left;}
  .cabecera{background: #04253a;; border: 5px solid #c6bf88;padding: 20px;text-align: center;font: italic 15px italic;}
  .menu{background: #c6bf88;padding: 5px 15px;}
      .menu li{display: inline-table; line-height: none;padding: 10px;font: bold 14px Times, sans-serif;}
  .seccion{float: right;text-align: center; width: 500px;margin: 10px 0px;}
  .columna{float: left;width: 450px; text-align: center;margin: 10px 0px;padding: 10px 30px;background:#4C837A;}
  .pie{clear: both; text-align: center;padding: 20px; border-top: 2px solid #04253a;}

  article{background:#4C837A; border: 5px solid #c6bf88;padding: 20px; margin-bottom: 10px;}/* Seccion dentro de seccion para que se vea mas organizado*/
  article footer{text-align: right;}
  time{color:rgb(255, 255, 255)}
  figcaption{font: italic 14px verdana, sans-serif;}
  .social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	left: 14px ; /* Establecemos la barra en la izquierda */
	top: 100px; /* Bajamos la barra 100px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style:none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 5px 5px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #036605;}
	.social ul li .icon-googleplus {background: #833AB4;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #080808;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 10px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}